// Colors
$primary: #5656a8;
$secondary: #e4e4e7;
$background-primary: #5656a8;
$on-background-primary: #ffffff;
$on-background-secondary: #000;

// Size
$size-font-1: 15rem;
$size-font-2: 24rem;
$size-font-3: 30rem;
$size-font-4: 36rem;
$size-font-5: 42rem;
$size-font-6: 50rem;

// Clear styling
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

// Set fonts

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Roboto', sans-serif;
}

// Styles

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-sub-container {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
}

.header-image {
    max-width: 50%;
}

.headline-container {
    display: flex;
    margin-left: 40px;
    justify-content: center;
    flex-direction: column;
}

.headline-title {

}

.fill-color-primary {
    background-color: $primary;
    fill: $secondary;
}

.container-middle-primary {
    padding: 80px 0 70px 0;
    background-color: $primary;
}

.bottom-bar {
    background-color: $secondary;
    margin-top: 0;
    margin-bottom: 0;
}

.svg-transition {
}

.bottom-menus-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 0;
    margin: 0 40px;
}

.bottom-menu-container {
}

.on-background-primary {
    background-color: $on-background-primary;
}

.text-on-primary {
    color: $on-background-primary;
}

.size-text-1 {
    font-size: $size-font-1;
}

.size-text-2 {
    font-size: $size-font-2;
}

.size-text-3 {
    font-size: $size-font-3;
}

.size-text-4 {
    font-size: $size-font-4;
}

.size-text-5 {
    font-size: $size-font-5;
}

.size-text-6 {
    font-size: $size-font-6;
}

.container-base {
    display: flex;
    flex-direction: column;
}

.container-content-center {
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.section-social-media {
    display: flex;
    flex-direction: row;
    //justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.icon-circle {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caption-social-media {
    margin-left: 20px;
}

// Data privacy
.section-info-and-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-info-and-button-texts {
}

.section-info-and-button-button {
    background-color: $on-background-primary;
    color: $on-background-secondary;
    font-weight: bold;
    padding: 0.6rem 3rem;
    margin: 1rem;
}
