:root {
    --primary: #5656a8;
    --secondary: #e4e4e7;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-sub-container {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
}

.header-image {
    max-width: 50%;
}

.headline-container {
    display: flex;
    margin-left: 40px;
    justify-content: center;
    flex-direction: column;
}

.headline-title {

}

.fill-color-primary {
    background-color: var(--primary);
    fill: var(--secondary);
}

.middle-gray {
    background-color: var(--primary);
}

.bottom-bar {
    background-color: var(--secondary);
    margin-top: 0;
    margin-bottom: 0;
}

.svg-transition {
}

.bottom-menus-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 0;
    margin: 0 40px;
}

.bottom-menu-container {
}
